
.enhance-dialog {
	width: 415px;
	float: right;
	position: absolute;
	top: 150px;
	left: 40%;
	z-index: 999;
	box-shadow: 5px 5px 20px #000000;
	font-weight: bold;
}

.enhance-dialog a {
	color: black !important;
	font-weight: bold;
}
	
.enhance-dialog .title {
	 background: #69CAFE;
	font-weight: bold;
	color: black;
	padding: 10px;
	font-size: 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.enhance-dialog .close {
	cursor: pointer;
	float: right;
	width: 19px;
	padding: 0;
	height: 19px;
	text-align: center;
	background-color: white;
	border-radius: 3px;
	line-height: 19px;
}

.enhance-dialog .content {
	background: #FFFFFF;
	color: #666666;
	padding: 10px;
	border: 2px solid #69CAFE;
	max-height: 200px;
	overflow: auto;
}

.enhance-options .Flyout::after {
	border-bottom-color: #69CAFE;
}

.enhance-options .Flyout .title {
	background: #66CCFF;
	color: black;
	padding: 5px;
	font-weight: bold;
	font-size: 15px;
	padding: 10px;
}


.enhance-options .Flyout {
	width: 375px;
	color: white;
	padding: 0px;
	background-color: black;
}


.enhance-icon .icon::before {
	color: #69CAFE !important;
}
	
.enhance-icon .icon {
	height: 16px !important;
	width: 16px !important;
	vertical-align: top;
	display: inline-block;
}

.enhance-options .Flyout .menu-content {
	padding: 5px 10px;
}



.enhance-options .MeButton .label {
	position: absolute;
	margin-top: 2px;
	margin-left: 5px;
	background-color: #69CAFE;
	border-radius: 10px;
	color: black;
	padding: 0px 10px;
	width: inherit;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	font-size: 12px;
	opacity: 0.0;
}

.enhance-options:hover .icon::before {
	animation: spin 3s infinite linear;
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(1080deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(1080deg); }
}
@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(1080deg);}
}


.emotes-dialog {
	width: auto !important;
	padding: 0px !important;
	white-space: nowrap;
}

.emotes-dialog .image {
	margin: 2px;	
	cursor: pointer;
	display: inline-block;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.emotes-dialog .image:hover {
	background-color: #CCCCCC;
	border-radius: 2px;
	box-shadow: 0px 0px 0px 3px #CCCCCC;;
}

.emote-category {
	background-color: #333;
	white-space: nowrap;
	line-height: 0;
	padding: 5px 5px 0px 5px;
	border-bottom: 1px solid #999999;
	/*width: 100%;*/
}

.emote-category img {
	padding: 3px;	
	border: 1px solid transparent;
	cursor: pointer;
}

.fwEmotes .emote-category img {
	padding-left: 5px;
	padding-right: 5px;
}
.emote-category img.selected {
	background-color: #000;
	border: 1px solid #999999;
	border-bottom: hidden;
	margin-bottom: -1px;
	padding-bottom: 5px;
}

.emotes-div {
	padding: 5px;
	margin: 0px;
}

.mlpEmotes .emote-category img {
	height: 32px;
	width: 32px;
}

.editor-dropdown .editor-action .icon-emote {
	background-size: contain;
	background-color: transparent !important;
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	vertical-align: text-top;
	margin-left: -6px;
	padding: 0px;
	border: 0;
	position: absolute;
	left: 12px;
}
.editor-action .icon-emote ~ .icon-caret-down:before {
	margin-left: 14px;
}
	

.fontSizePicker-dialog {
	width: auto !important;
	padding: 5px 0px !important;
}

.enhance-dropdown {
	width: auto !important;
	padding: 0px !important;
}

.fontFacePicker-dialog .container {
	max-height: 150px !important;
}

.icon-font-face::before {
	font-weight: bold;
	font-size: 16px;
	content: "Font";
	width: 39px;
	margin: 0px -5px 0px -5px !important; 
}

.face-select, .text-face-select {
	font-size: 16px;
	line-height: 130%;
	padding-right: 25px !important;
}
	
.enhance-dropdown .container {
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 5px 0px;
}

.icon-font-size::before {
	content: "A";
	font-weight: bold;
	width: 24px;
	margin: 0px -5px !important; 
}
	
.icon-font-size::after {
	content: "A";
	font-weight: bold;
	position: absolute;
	left: 20px;
	font-size: 10px;
	font-family: vanillicon;
}

/************************
  Font Color Picker
************************/

.fontColorPicker-dialog {
	width: auto !important;	
}

.fontColorPicker-dialog input.autocolor {
	vertical-align: bottom;
}

.fontColorPicker-dialog .label {
	margin: 3px 0px;
	color: #999;
	display: inline-block;
}

.icon-font-color::before {
	content: "A";
	font-weight: bold;
	width: 24px;
	margin: 0px -5px !important; 
}
	
.icon-font-color-button {
	width: 20px;
	height: 20px;
	left: 5px;
/*	background-color: rgba(100, 0, 100, 0.5) !important;*/
	position: absolute;
	box-shadow: 0 -4px 0 0 #FFFFFF inset;
}

.icon-text-face::before {
	content: "\0ca0_\0ca0";
	width: 24px;
	margin: 0px -5px !important; 
}

.full-spectrum {
	min-width: 418px;	
}

.full-spectrum.sp-palette-only {
	min-width: 223px;
}

.sp-palette-container {
	width: 200px;	
}

.sp-container {
	background-color: #333;
}

.sp-input {
	color: #CCC;
}

/************************
  Enhance Dialog General
************************/
.MeBoxContainer {
    height: 30px;
}

.enhanceDialog {
	margin-top: 10px;
	width: 925px;
	overflow: auto;	
	font-family: "Open Sans" !important;
}

.enhanceDialog .picker {
	float: left;
	width: 275px;
	height: auto;
	display: block;
	margin-right: 10px;	
	margin-bottom: 10px;
	background: rgba(0, 0, 0, 0.3);
	padding: 10px;
	position: relative;
	box-shadow: 0px 0px 10px 0px  rgba(255,255,255,0.3);
}

.enhanceDialog .content {
	display: block;
	padding: 10px 0px 10px 10px;
	margin: 0px;
	overflow: hidden;
}

.enhanceDialog .picker:hover {
	box-shadow: 0px 0px 10px  #FFFFFF;
}

.enhanceDialog .selected::before {
	content: "\f11c";
	position: absolute;
	z-index: 100;
	font-family: vanillicon;
	font-size: 30px;
	text-shadow: 2px 2px 5px #000000;
	width: 25px;
	height: 25px;
	color: lime;
	opacity: 0.8;
}
	

/************************
  Emote Manager Stuff
************************/

.emoteManager .picker .image {
	width: 50px;
	height: 50px;
	margin: 0px;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.emoteManager .picker {
	height: 50px !important;	
	cursor: pointer;
}

.emoteManager .title {
	font-size: 23px;
	font-weight: bold;
	margin-left: 60px;
	display: block;
}
.emoteManager .description {
	font-size: 12px;	
	margin-left: 60px;
	margin-top: 20px;
}

.emoteManager .selected::before {
	top: 40px;
	left: 260px;
}

/************************
  Theme Manager Stuff
************************/

.close {
	background-color: white;
	display: inline;
	float:right;
}

.themeManager .theme-author::before {
	content: 'by';
	margin-left: 5px;
	margin-right: 5px;
}

.themeManager .theme-created::before {
	content: 'added';
	margin-right: 3px;
}	
	
.themeManager .theme-updated::before {
	content: 'updated';
	margin-right: 3px;
}	

.themeManager .theme-created {
	float: right;
}
	
.themeManager .theme-updated {
	float: right;
}
	
.themeManager .theme-discussion {
	float: right;
}
	
.themeManager .theme-name {
	font-size: 20px;
}

.themeManager .theme .theme-preview {
	width: 275px;
	height: 137px;
	cursor: pointer;
	background-size: 295px auto;
}
	
.themeManager .selected::before {
	top: 110px;
	left: 240px;
}

.themeManager .new, .themeManager .updated {
	animation: colorRotate 6s linear 0s infinite;
	text-shadow: 1px 1px #000000;
	position: absolute; 
	font-size: 15px; 
	font-weight: bold;
	margin: 10px;
}


@keyframes colorRotate {
	from {color: rgb(255, 128, 128);}
	16.6% {color: rgb(255, 128, 255);}
	33.3% {color: rgb(128, 128, 255);}
	50% {color: rgb(128, 255, 255);}
	66.6% {color: rgb(128, 255, 128);}
	83.3% {color: rgb(255, 255,128);}
	to {color: rgb(255, 128, 128);}
}

.themeManager .content {
	overflow: hidden;
}
	
.themeManager .theme {
	transition: margin 0.5s, opacity 0.2s, top 1s;
	-webkit-transition: margin 0.5s, opacity 0.2s, top 1s;
}
	
.themeManager.collapseEnabled .collapsible .theme {
	background-color: rgba(128,128,128,0.2);
}

.themeManager.collapseEnabled .collapsible.collapsed .theme {
	margin-right: -305px;
	opacity: 0;
}	
	
.themeManager.collapseEnabled .collapsible.collapsed .defaultVariant.theme {
	margin-right: 10px;
	margin-left: 0px;
	opacity: 1;
	z-index: 1;
	background-color: rgba(128,128,128,0.5);
}	

.themeManager.collapseEnabled .collapsible.collapsed .defaultVariant.theme ~ .theme {
	margin-left: -305px;
	opacity: 0;
}	
	
.themeManager.collapseEnabled .collapsible.collapsed .defaultVariant.theme .theme-name::after {
	content: "More versions available!";
	font-weight: bold;
	font-size: 14px;
	text-shadow: 2px 2px 5px #000000;
	top: 220px;
	left: 10px;
	color: #69CAFE;
	width: 100%;
	position: absolute;
}	
	
/************************
  Titles
************************/

.enhance-title {
	display: block;
	overflow: hidden;
}

.enhance-title.developer {
	color: #69CAFE; 
}
	
.enhance-title.themeauthor {
	color: #69FECA; 
}

.enhance-title.promoter {
	color: #FFEE88;
}

/************************
  User Blocking
************************/
.unhideComment {
	margin: 0px;
	padding: 2px 10px;
	cursor: pointer;
	opacity: 0.3;
}
	
.unhideComment:hover {
	opacity: 1;
}

.ReactReject {
	background-position: -341px -5px !important;
}

.ReactButton, .ReactButton-Flag {
	line-height: 15px;
}

/**********************
 Comment Preview Tooltips
***********************/

.tooltip-comment {
	white-space:normal; 
	line-height: 110%; 
	padding: 7px;	
	background: black;	
	color: white;
	font-size: 13px;	
	font-weight: normal !important; 
	display: inline-block;
	position: absolute !important;
	width: auto;
	overflow-x: hidden;
	overflow-y: hidden;
	max-height: 200px;
	max-width: 400px;
	opacity: 0.9;
	border: solid #555555 1px;
	border-radius: 4px;
	z-index: 1000;
}
	
.tooltip-comment::after {
	content: '';
	border: 0px;
	width: 100%;
	top: 195px;
	left: 0px;
	height: 20px;
	position: absolute;
	display: block;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(90%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
}
	
	
/****************
  TWITCH stuff
****************/

.twitchEmotes .emotes-div {
	padding-right: 20px;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 240px;
}

/************
 Addon Menu
*************/

.enhance-dropdown h1:hover {
	box-shadow: 0px 0px 10px  #FFFFFF;
}

.enhance-dropdown h1 {
	cursor: pointer;
	margin-right: 10px;	
	margin-left: 10px;
	margin-bottom: 10px;
	background: rgba(0, 0, 0, 0.3);
	padding: 10px 10px 10px 0px;
	position: relative;
	box-shadow: 0px 0px 10px 0px  rgba(255,255,255,0.3);
	font-size: 15px;
	z-index: 1;
}

.enhance-dropdown .content {
	position: relative;
	top: -10px;
	padding: 0px 0px 0px 0px;
	margin: 0px 10px 0px 10px;
	background: rgba(0, 0, 0, 0.3);
	z-index: 0;
	border-top: 0;
}

.enhance-dropdown .addon {
	float: left;
	width: 275px;
	padding: 5px 8px;
	margin-right: 10px;
	margin-left: 0px;
	margin-top: 5px;   
}
.enhance-dropdown .addon .label {
	display: inline-block;
	width: 255px;   
	height: 40px;
	vertical-align: top;
	line-height: 130%;
}
.enhance-dropdown .addon .label .description {
	display: inline-block;
	width: 255px;   
	height: 40px;
	vertical-align: top;
	line-height: 110%;
	margin-top: 5px;
}

.enhance-dropdown .addon .name {
	display: block;
	font-size: 15px;
	margin-bottom: -5px;
}

.enhanceDialog > .title {
	display: block;
	text-align: right;
	font-size: 15px;
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 10px 0px  rgba(255,255,255,0.3);
	padding: 5px 10px;
	margin: 10px 10px 0px 10px;
	height: auto;
	width: auto;
}

.enhanceDialog .title h1 {
	margin-left: 0px;
	text-align: left;
	width: auto;
	display: block;
}

.themeManager .title .feature {
	float: right;
	margin: 5px;
}

	
/************
 Wallpaper Menu
*************/
.enhanceDialog .InputBox {
	margin: 10px 0px 10px 10px;
	width: 50%;
}	

.enhanceDialog .NavButton {
	margin: 0px 10px 0px 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
	
.enhanceDialog .NavButton:hover {
	text-decoration: none;
}
	
.wallpaperMenu .panel {
	padding-left: 5px;
}
	
.wallpaper-content {
	text-align: center;
	min-height: 40px;
	padding: 0px 0px 0px 10px;
	width: 955px !important;
	position: relative;
	width: 100%;
}
	
.wallpaper-content .picker {
	height: 160px;
	width: 160px;
	margin: 15px 47px 15px 5px;
	cursor: pointer;
	overflow: hidden;
}

.wallpaper-content .picker .remove {
	position: absolute;
	height: 25px;
	width: 25px;
/*	top: -53px;
	left: 182px;*/
	top: -3px;
	left: 132px;
	opacity: 0;
	margin: 15px 47px 15px 5px;
	cursor: pointer;
	transition: opacity 0.5s;
	font-size: 30px;
	text-shadow: 2px 2px 5px #000000;
}

.wallpaper .image {
	height: 160px;
	width: 160px;
}
	
.wallpaper-content .picker:hover .remove {
	opacity: 1;
}

.wallpaperMenu .selected::before {
	top: 140px;
	left: 140px;
}

.wallpaperMenu  .feature.random {
	display: inline-block;
	float: right;
	margin-right: 20px;
}