.full-spectrum {
	min-width: 418px;   
}

.full-spectrum.sp-palette-only {
	min-width: 223px;
}

.sp-palette-container {
	width: 200px;   
}


.whatsNewDialog {
 	width: 415px;
	float: right;
	position: absolute;
	top: 150px;
	left: 40%;
	z-index: 999;
	box-shadow: 5px 5px 20px #000000;
	font-weight: bold;
}

.whatsNewDialog .title {
	 background: #69CAFE;
	font-weight: bold;
	color: black;
	padding: 10px;
	font-size: 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
}

.whatsNewDialog .close {
	cursor: pointer;
	float: right;
	width: 19px;
	padding: 0;
	height: 19px;
	text-align: center;
	background-color: white;
	border-radius: 3px;
}

.whatsNewDialog .content {
	background: #FFFFFF;
	color: #666666;
	padding: 10px;
	border: 2px solid #69CAFE;
	max-height: 200px;
	overflow: auto;
}

.enhance-options .Flyout::after {
	border-bottom-color: #69CAFE;
}

.enhance-options .Flyout .title {
	background: #66CCFF;
	color: black;
	padding: 5px;
	font-weight: bold;
	font-size: 15px;
	padding: 10px;
}


.enhance-options .Flyout {
	width: 375px;
	color: black;
	padding: 0px;
}


.enhance-options .SpOptions::before {
	color: #69CAFE !important;
}

.enhance-options .Flyout .menu-content {
	padding: 5px 10px;
}



.enhance-options .MeButton .label {
	position: absolute;
	margin-top: 2px;
	margin-left: 5px;
	background-color: #69CAFE;
 	border-radius: 10px;
	color: black;
	padding: 0px 10px;
	width: inherit;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	font-size: 12px;
	opacity: 0.0;
}

.enhance-options:hover .MeButton .label {
	animation: slide 0.5s ease-in-out;
	opacity: 1.0;
}

.enhance-options:hover .SpOptions::before {
	animation: spin 3s infinite linear;
}

@keyframes slide {
	from {margin-left: 30px; opacity: 0.0}
	to {margin-left: 5px; opacity: 1.0}
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(1080deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(1080deg); }
}
@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(1080deg);}
}


.emotes-dialog {
	width: auto !important;
	padding: 0px !important;
	white-space: nowrap;
}

.emotes-dialog img {
	padding: 2px;   
	cursor: pointer;
}

.emotes-dialog > img:hover {
	background-color: rgba(0,0,0,0.1);
	border-radius: 2px;
}

.emote-category {
	background-color: rgba(0,0,0,0.1);
	white-space: nowrap;
	line-height: 0;
	padding: 5px 5px 0px 5px;
	border-bottom: 1px solid #999999;
	/*width: 100%;*/
}

.emote-category img {
	padding: 3px;   
	border: 1px solid transparent;
}

.fwEmotes .emote-category img {
	padding-left: 8px;
	padding-right: 8px;
}
.emote-category img.selected {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	border-bottom: hidden;
	margin-bottom: -1px;
	padding-bottom: 5px;
}

.emotes-div {
	padding: 5px;
	margin: 0px;
}


.emotes-div img:hover {
	background-color: #EEEEEE;   
}

.mlpEmotes .emote-category img {
	height: 32px;
	width: 32px;
}

.editor-dropdown .editor-action .icon-emote {
	background-size: contain;
	width: 20px;
	height: 20px;
	vertical-align: text-top;
	margin-left: -6px;
	padding: 0px;
	border: 0;
}


.fontSizePicker-dialog {
	width: auto !important;
	padding: 5px 0px !important;
}

.enhance-dropdown {
	width: auto !important;
	padding: 0px !important;
}

.fontFacePicker-dialog .container {
	max-height: 150px !important;
}

.enhance-dropdown .container {
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 5px 0px;
}

.icon-font-button {
	width: 14px;
	height: 14px;
	padding: 0px !important;
	margin: 0px !important;
	border: 0px none !important;
}

.fontSizePicker span.small-size {
	position: relative; 
	left: 0px; 
	top: -6px; 
	font-size: 8px;
}

.fontColorPicker-dialog {
	width: auto !important;   
}

.fontColorPicker-dialog input.autocolor {
	vertical-align: bottom;
}

.fontColorPicker-dialog .label {
	margin: 3px 0px;
	color: #666666;
	display: inline-block;
}

.fontColorPicker > .icon {
	padding: 0px 7px;   
	height: 22px;
}

.icon-font-color {
	box-shadow: 0 -5px 0 0 #FFFFFF inset; 
	margin: 0px -5px !important; 
}




/************************
  Theme Manager Stuff
************************/

.enhance-themes  .SpOptions:before {
	content: "\f178" !important;
	color: #69CAFE !important;
}

	
.themeManager {	
	margin-top: 10px;
	width: 925px;
	overflow: auto;
/*	background-color: rgba(200,200,200,0.2);*/
}
	
.themeManager .title {
	display: none;
	background-color: #69CCFF;
	font-size: 15px;
	padding: 10px;
	margin: 0px;
	color: #000000;
	font-weight: bold;
}

.close {
	background-color: white;
	display: inline;
	float:right;
}

.themeManager .content {
	display: block;
	padding: 10px 0px 10px 10px;
	margin: 0px;
}
	
.themeManager .theme {
	float: left;
	width: 275px;
	height: auto;
	display: block;
	margin-right: 10px;	
	margin-bottom: 10px;
	background: rgba(0, 0, 0, 0.3);
	padding: 10px;
	position: relative;
	box-shadow: 0px 0px 10px 0px  rgba(255,255,255,0.3);
}
	
.themeManager .theme:hover {
	box-shadow: 0px 0px 10px  #FFFFFF;
}
	
.themeManager .theme-author::before {
	content: 'by';
	margin-left: 5px;
}

.themeManager .theme-created::before {
	content: 'added';
	margin-right: 3px;
}	
	
.themeManager .theme-updated::before {
	content: 'updated';
	margin-right: 3px;
}	

.themeManager .theme-created {
	float: right;
}
	
.themeManager .theme-updated {
	float: right;
}
	
.themeManager .theme-discussion {
	float: right;
}
	
.themeManager .theme-name {
	font-size: 20px;
}

.themeManager .theme img {
	width: 275px;
	height: 137px;
	cursor: pointer;
	background-size: 295px auto;
}
	
.themeManager .theme.selected .theme-name:before {
	content: "\f11c";
	position: absolute;
	top: 110px;
	left: 240px;
	z-index: 100;
	font-family: vanillicon;
	font-size: 30px;
	text-shadow: 2px 2px 5px #000000;
	width: 25px;
	height: 25px;
	color: lime;
	opacity: 0.8;
}

.themeManager .new, .themeManager .updated {
	animation: colorRotate 6s linear 0s infinite;
	text-shadow: 1px 1px #000000;
	position: absolute; 
	font-size: 15px; 
	margin: 10px;
}


@keyframes colorRotate {
    from {
        color: rgb(255, 128, 128);
    }
    16.6% {
        color: rgb(255, 128, 255);
    }
    33.3% {
        color: rgb(128, 128, 255);
    }
    50% {
        color: rgb(128, 255, 255);
    }
    66.6% {
        color: rgb(128, 255, 128);
    }
    83.3% {
        color: rgb(255, 255,128);
    }
    to {
        color: rgb(255, 128, 128);
    }
}

.themeManager .content {
	overflow: hidden;
}
	
.themeManager .theme {
	transition: margin 1s, opacity 2s;
	-webkit-transition: margin 1s, opacity 2s;
}

.themeManager.collapseEnabled .collapsible.collapsed .theme {
	margin-right: -305px;
	opacity: 0;
}	
	
.themeManager.collapseEnabled .collapsible.collapsed .defaultVariant.theme {
	margin-right: 10px;
	margin-left: 0px;
	opacity: 1;
}	

.themeManager.collapseEnabled .collapsible.collapsed .defaultVariant.theme ~ .theme {
	margin-left: -305px;
	opacity: 0;
}	
	
.themeManager.collapseEnabled .collapsible.collapsed .defaultVariant.theme .theme-name::before {
    content: "More versions available!";
	font-weight: bold;
	font-size: 14px;
	top: 220px;
	left: 10px;
	color: #69CAFE;
	width: 100%;
	position: absolute;
}	
	
/************************
  Titles
************************/

.enhance-title.developer {
	color: #69CAFE; 
	display: block;
}
	
.enhance-title.themeauthor {
	color: #69FECA; 
	display: block;
}